<?xml version="1.0" encoding="utf-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.cordova.plugin.inactive"
        version="1.0.0">

    <name>Cordova-plugin-inactive</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/inactive.js" target="js/inactive.js"/>

    <js-module src="www/inactive.js" name="inactive">
        <clobbers target="inactive"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Inactive">
                <param name="android-package" value="com.cordova.plugin.Inactive"/>
            </feature>
        </config-file>

        <source-file src="src/android/Inactive.java" target-dir="src/com/cordova/plugin/"/>
    </platform>
</plugin>